{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body     style="background-color: aqua;">
  
    {% block body %}
      <div   class="userlogindiv">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="card">
            <div class="card-body">
              <form method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
              </form>
            </div>
            <div class="card-footer text-muted text-center">
              <small>New Employee?  
                <a href="#">Submit Details</a> | 
                <a href="{% url 'home' %}">home</a> |
                <a href="#">Forgot your Staffid</a> |
              </small> 
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
</body>
</html>