{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> 
    {% block body %}

    <center>

      {% block breadcrumb %}
      <div class="container">
        <ol class="breadcrumb my-2 col-lg-6 ">
          <li class="breadcrumb-item active" aria-current="page">Add User</li>
          <li class="breadcrumb-item active"> <a href="{% url 'home' %}"><span  style=" color:rgb(149, 49, 6)"><small>Home</small></span> </a></li>
        </ol>
      </div>
      {% endblock %}

     
      
        <div   class="container">
          <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
              <div class="card-body">
                <form method="post" novalidate>
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% include 'includes/form.html' %}
                  <button type="submit" class="btn btn-primary btn-block">signup</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </center>
    {% endblock %}
</body>
</html>